<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <title><%= title %></title>
</head>
<body>
    <% if (user) { %>

    <% } %>
    <section ng-include="'views/superNavbar.client.view.html'"></section>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/module/superNavbar.client.module.js"></script>
    <script type="text/javascript" src="/controllers/superNavbar.client.controller.js"></script>
    <script type="text/javascript" src="/application.js"></script>
</body>
</html>