<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../lib/angular-material/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <md-toolbar data-ng-controller="NavbarController">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Index">
                <md-icon md-svg-icon="/img/logo.svg" href="/"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Account" ng-click="go('/wallet')">
                <i class="material-icons">account_box</i>                
            </md-button>
            <md-button class="md-icon-button" aria-label="Shopping_Cart">
                <i class="material-icons">shopping_cart</i>                
            </md-button>
            <md-button class="md-icon-button" aria-label="Message_Center">
                <i class="material-icons">message</i>             
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
                <i class="material-icons">settings</i>            
            </md-button>
        </div>
    </md-toolbar>
    <section ng-view></section>

    <script type="text/javascript">
        window.user = <%- user || 'null' %>;
    </script>    
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/application.js"></script>
    <script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/lib/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/navbar.client.module.js"></script>
    <script type="text/javascript" src="/controllers/navbar.client.controller.js"></script>
    <script type="text/javascript" src="/users.client.module.js"></script>
    <script type="text/javascript" src="/services/authentication.client.service.js"></script>
    <script type="text/javascript" src="/wallet.client.module.js"></script>
    <script type="text/javascript" src="/controllers/wallet.client.controller.js"></script>
    <script type="text/javascript" src="/services/wallet.client.service.js"></script>
    <script type="text/javascript" src="/config/wallet.client.routes.js"></script>
</body>
</html>