<section data-ng-controller="WalletController" data-ng-init="findOne()">
    <div data-ng-show="!authentication.user._id">
        <h2>Authenticated user only</h1>
    </div>

    <div data-ng-hide="!authentication.user._id">
        <div>
            <img data-ng-src="{{wallet.avatar}}">
            <h2 data-ng-bind="wallet.creator.fullName"></h2>
        </div>
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"><img data-ng-src="{{pic}}"/></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>        
        <div>
            <h2>Date of Birth: {{wallet.birthday}}</h2>
            <h2>Gender: {{wallet.gender}}</h2>
            <h2>Address: {{wallet.address}}</h2>
        </div>
    </div>

</section>